@import url("./normalize.css");

:root {
  --color-black: #111;
  --color-dark: #2f2f2f;
  --color-light: #f6f6f6;
  --color-gold: #ffcb74;

  --font-subtitle: 'Livvic', sans-serif;
  --font-main: 'Source Serif Pro', serif;
}

html {
  background-color: var(--color-light);
}

h1 {
  font-family: var(--font-subtitle);
}

nav {
  background-color: var(--color-dark);
}

header {
  background-image: url('../images/misc/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size:cover
}

/* FOOTER STYLING */
