@import url("./normalize.css");

:root {
  --color-black: #111;
  --color-dark: #2f2f2f;
  --color-light: #f6f6f6;
  --color-gold: #ffcb74;

  --font-subtitle: 'Livvic', sans-serif;
  --font-main: 'Source Serif Pro', serif;
}


h1 {
  font-family: var(--font-subtitle);
}

.bg-dark {
  background-color: var(--color-dark);
}