@import url("./normalize.css");

:root {
  --color-black: #111;
  --color-dark: #2f2f2f;
  --color-light: #f6f6f6;
  --color-gold: #deb16f;
  --font-family: 'Source Serif Pro', serif !important;
}

.bg-light {
  background-color: var(--color-light) !important;
  color: var(--color-black);
}

.bg-dark {
  background-color: var(--color-dark) !important;
  color: var(--color-light);
}

.bg-black {
  background-color: var(--color-black) !important;
  color: var(--color-light);
}

.bg-gold {
  background-color: var(--color-gold) !important;
}

body {
  font-family: 'Source Serif Pro', serif !important;
}

.livvic {
  font-family: 'Livvic', sans-serif;
}

html {
  background-color: var(--color-light);
}

nav {
  color: var(--color-light);
  font-size: .9rem;
  letter-spacing: .4rem;
  text-shadow: 2px 2px 2px var(--color-dark);
}

.navbar-item a:hover {
  color: var(--color-gold) !important;
}

#hero-img {
  width: 50%;
  max-width: 400px;
}

header {
  background-image: url('../images/misc/hero_fade.png');
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size:100%;
}

h1 {
  letter-spacing: .4rem;
}

/* FOOTER STYLING */
